<<<<<<< HEAD
<p class="my-6 text-sm text-center text-slate-500 bottom-0">
=======
<p class="my-6 text-sm text-center text-gray-500 bottom-0">
>>>>>>> 83610288edd8c71fff1c00023d7f64717a6e6de7
	&copy; 2022 - {new Date().getFullYear()} —
	<a href="https://bytes4run.com/" class="hover:underline" target="_blank"
		>Bytes4Run</a
	>. rights limited.
</p>
