---
import BaseLayout from "../../layouts/app.astro";
import { Products, db } from "astro:db";

if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const name = formData.get("")?.toString();
	const handle = formData.get("")?.toString();
	const description = formData.get("")?.toString();
	const short_description = formData.get("")?.toString();
	const tags = formData.get("")?.toString();
	const sku = formData.get("")?.toString();
	const mpn = formData.get("")?.toString();
	const upc = formData.get("")?.toString();
	const ean = formData.get("")?.toString();
	const isbn = formData.get("")?.toString();
	const product_weight = formData.get("")?.toString();
	const product_width = formData.get("")?.toString();
	const product_height = formData.get("")?.toString();
	const product_length = formData.get("")?.toString();
	const inner_diameter = formData.get("")?.toString();
	const outer_diameter = formData.get("")?.toString();
	const measure_unit = formData.get("")?.toString();
	const customizable = formData.get("")?.toString();
	const customizable_fields = formData.get("")?.toString();
	if (name) {
		await db.insert(Products).values({
			name,
			handle,
			description,
			short_description,
			tags,
			sku,
			mpn,
			upc,
			ean,
			isbn,
			product_weight,
			product_width,
			product_height,
			product_length,
			inner_diameter,
			outer_diameter,
			measure_unit,
			customizable,
			customizable_fields,
		});
		return Astro.redirect("/products");
	}
}
---

<BaseLayout title="Crear Producto">
	<div class="max-w-2xl mx-auto">
		<form method="POST" class="space-y-6">
			<section class="flex flex-col">
				<div class="overflow-x-auto">
					<div
						class="relative shadow-md sm:rounded-lg bg-gray-50 dark:bg-gray-800"
					>
						<div
							class="p-4 space-y-3 md:space-y-0 md:space-x-4 overflow-hidden"
						>
							<div
								class="mb-4 border-b border-gray-200 dark:border-gray-700"
							>
								<ul
									class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
									id="default-tab"
									data-tabs-toggle="#default-tab-content"
									role="tablist"
								>
									<li class="me-2" role="presentation">
										<button
											class="inline-block p-4 border-b-2 rounded-t-lg text-primary-600 bg-gray-100 dark:bg-gray-700 dark:text-primary-400"
											id="productGeneral-tab"
											data-tabs-target="#productGeneral"
											type="button"
											role="tab"
											aria-controls="productGeneral"
											aria-selected="false"
											>General</button
										>
									</li>
									<li class="me-2" role="presentation">
										<button
											class="inline-block p-4 border-b-2 rounded-t-lg"
											id="productVariants-tab"
											data-tabs-target="#productVariants"
											type="button"
											role="tab"
											aria-controls="productVariants"
											aria-selected="false"
											>Variantes</button
										>
									</li>
									<li class="me-2" role="presentation">
										<button
											class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
											id="productDesc-tab"
											data-tabs-target="#productDesc"
											type="button"
											role="tab"
											aria-controls="productDesc"
											aria-selected="false"
											>Descripción</button
										>
									</li>
									<li class="me-2" role="presentation">
										<button
											class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
											id="productPrices-tab"
											data-tabs-target="#productPrices"
											type="button"
											role="tab"
											aria-controls="productPrices"
											aria-selected="false"
											>Precios</button
										>
									</li>
									<li role="presentation">
										<button
											class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
											id="productStock-tab"
											data-tabs-target="#productStock"
											type="button"
											role="tab"
											aria-controls="productStock"
											aria-selected="false">Stock</button
										>
									</li>
									<li role="presentation">
										<button
											class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
											id="productLogistics-tab"
											data-tabs-target="#productLogistics"
											type="button"
											role="tab"
											aria-controls="productLogistics"
											aria-selected="false"
											>Logistica</button
										>
									</li>
								</ul>
							</div>
							<div id="default-tab-content">
								<!-- General -->
								<div
									class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-700"
									id="productGeneral"
									role="tabpanel"
									aria-labelledby="productGeneral-tab"
								>
									<div class="grid grid-cols-12 gap-4">
										<div class="col-span-12 sm:col-span-4">
											<div
												class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
											>
												<img
													class="rounded-t-lg w-full"
													src="/img/photo_not_available.png"
													alt="asset photo"
												/>
												<div
													class="p-5 flex flex-col items-center"
												>
													<p
														class="mb-3 font-normal text-gray-700 dark:text-gray-400"
													>
														Sin Imagen
													</p>
													<a
														href="#"
														class="inline-flex items-center px-3 py-2 text-sm font-semibold text-center text-white bg-warning-500 rounded-lg hover:bg-warning-600 focus:ring-4 focus:outline-none focus:ring-warning-600 dark:bg-warning-400 dark:hover:bg-warning-500 dark:focus:ring-warning-300"
													>
														Agregar
														<svg
															class="rtl:rotate-180 w-5 h-5 ms-2"
															aria-hidden="true"
															xmlns="http://www.w3.org/2000/svg"
															fill="none"
															viewBox="0 0 14 10"
														>
															<svg
																class="w-6 h-6"
																aria-hidden="true"
																xmlns="http://www.w3.org/2000/svg"
																fill="none"
																viewBox="0 0 20 18"
															>
																<path
																	stroke="currentColor"
																	stroke-linecap="round"
																	stroke-linejoin="round"
																	stroke-width="2"
																	d="M10 12.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"
																></path>
																<path
																	stroke="currentColor"
																	stroke-linecap="round"
																	stroke-linejoin="round"
																	stroke-width="2"
																	d="M17 3h-2l-.447-.894A2 2 0 0 0 12.764 1H7.236a2 2 0 0 0-1.789 1.106L5 3H3a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a2 2 0 0 0-2-2Z"
																>
																</path>
															</svg>
														</svg>
													</a>
												</div>
											</div>
										</div>
										<div class="col-span-12 sm:col-span-8">
											<div class="grid grid-cols-6 gap-4">
												<div
													class="col-span-6 sm:col-span-3"
												>
													<label
														for="productCommonName"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Nombre Común</label
													>
													<select
														id="productCommonName"
														name="productCommonName"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 select2"
													>
														<option
															value="0"
															selected=""
															>-- Seleccionar
															Nombre Común --</option
														>

														<option
															value="0"
															selected=""
														>
															Sin nombre
														</option>
													</select>
												</div>
												<div
													class="col-span-6 sm:col-span-3"
												>
													<label
														for="productType"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Tipo</label
													>
													<select
														id="productType"
														name="productType"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 select2"
													>
														<option
															value="0"
															selected=""
															>-- Seleccionar Tipo
															--</option
														>

														<option
															value="0"
															selected=""
														>
															No tipo
														</option>
													</select>
												</div>
												<div
													class="col-span-6 sm:col-span-3"
												>
													<label
														for="productBrand"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Marca</label
													>
													<select
														id="productBrand"
														name="productBrand"
														class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 select2"
													>
														<option
															value="0"
															selected=""
															>-- Seleccionar Maca
															--</option
														>
														<option
															value="0"
															selected=""
														>
															No marca
														</option>
													</select>
												</div>
												<div
													class="col-span-6 sm:col-span-3"
												>
													<label
														for="productMPN"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>MPN</label
													>
													<div class="relative">
														<div
															class="absolute inset-y-0 start-0 flex items-center"
														>
															<button
																data-tooltip-target="tooltip-gen-mpn"
																type="button"
																class="text-white
                                                                end-2.5
                                                                bottom-2.5
                                                                bg-primary-700
                                                                hover:bg-primary-800
                                                                focus:ring-4
                                                                focus:outline-none
                                                                focus:ring-primary-300
                                                                font-medium
                                                                rounded-lg
                                                                text-sm px-3 py-2.5
                                                                text-center
                                                                dark:bg-primary-600
                                                                dark:hover:bg-primary-700
                                                                dark:focus:ring-primary-800"
																id="productMPNGenButton"
															>
																<i
																	class="fas fa-file-alt w-4 h-4"
																></i>
																<span
																	class="hidden xl:block"
																	>Generar MPN</span
																>
															</button>
															<div
																id="tooltip-gen-mpn"
																role="tooltip"
																class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
															>
																Generar MPN
																<div
																	class="tooltip-arrow"
																	data-popper-arrow
																>
																</div>
															</div>
														</div>
														<input
															type="text"
															name="productMPN"
															id="productMPN"
															class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
															placeholder="MPN del Producto"
														/>
													</div>
												</div>
												<div
													class="col-span-6 sm:col-span-3"
												>
													<label
														for="productSKU"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>SKU</label
													>
													<div class="relative">
														<div
															class="absolute inset-y-0 start-0 flex items-center"
														>
															<button
																data-tooltip-target="tooltip-gen-sku"
																type="button"
																class="text-white
                                                                end-2.5
                                                                bottom-2.5
                                                                bg-primary-700
                                                                hover:bg-primary-800
                                                                focus:ring-4
                                                                focus:outline-none
                                                                focus:ring-primary-300
                                                                font-medium
                                                                rounded-lg
                                                                text-sm px-3 py-2.5
                                                                text-center
                                                                dark:bg-primary-600
                                                                dark:hover:bg-primary-700
                                                                dark:focus:ring-primary-800"
																id="productSKUGenButton"
															>
																<i
																	class="fas fa-file-alt w-4 h-4"
																></i>
																<span
																	class="hidden xl:block"
																	>Generar SKU</span
																>
															</button>
															<div
																id="tooltip-gen-sku"
																role="tooltip"
																class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
															>
																Generar SKU
																<div
																	class="tooltip-arrow"
																	data-popper-arrow
																>
																</div>
															</div>
														</div>
														<input
															type="text"
															name="productSKU"
															id="productSKU"
															class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
															placeholder="SKU del Producto"
														/>
													</div>
												</div>
												<div
													class="col-span-12 sm:col-span-6"
												>
													<label
														for="productName"
														class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
														>Nombre</label
													>
													<input
														type="text"
														name="productName"
														id="productName"
														class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
														placeholder="Nombre del Producto"
														required=""
													/>
												</div>
											</div>
										</div>
										<div class="col-span-12 sm:col-span-4">
											<label
												for="productUPC"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>UPC</label
											>
											<div class="relative">
												<div
													class="absolute inset-y-0 start-0 flex items-center"
												>
													<!-- <button
																data-tooltip-target="tooltip-gen-upc"
																type="button"
																class="text-white
                                                                end-2.5
                                                                bottom-2.5
                                                                bg-primary-700
                                                                hover:bg-primary-800
                                                                focus:ring-4
                                                                focus:outline-none
                                                                focus:ring-primary-300
                                                                font-medium
                                                                rounded-lg
                                                                text-sm px-3 py-2.5
                                                                text-center
                                                                dark:bg-primary-600
                                                                dark:hover:bg-primary-700
                                                                dark:focus:ring-primary-800"
																id="productUPCGenButton"
															>
																<i
																	class="fas fa-file-alt w-4 h-4"
																></i>
																<span
																	class="hidden xl:block"
																	>Generar UPC</span
																>
															</button> -->
													<div
														id="tooltip-gen-upc"
														role="tooltip"
														class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
													>
														Generar UPC
														<div
															class="tooltip-arrow"
															data-popper-arrow
														>
														</div>
													</div>
												</div>
												<input
													type="text"
													name="productUPC"
													id="productUPC"
													class="shadow-sm
                                                                bg-gray-50
                                                                border
                                                                text-sm
                                                                rounded-lg
                                                                block
                                                                w-full
                                                                p-2.5 ps-10
                                                                border-gray-300
                                                                text-gray-900
                                                                focus:ring-primary-600
                                                                focus:border-primary-600
                                                                dark:bg-gray-600
                                                                dark:border-gray-500
                                                                dark:placeholder-gray-400
                                                                dark:text-white
                                                                dark:focus:ring-primary-500
                                                                dark:focus:border-primary-500"
													placeholder="UPC de Producto"
													required=""
												/>
											</div>
											<p
												id="productUPC-valid"
												class="mt-2 text-sm text-green-600 dark:text-green-500"
											>
												<span class="font-medium"
													>¡Bien!</span
												> ¡El UPC no existe!
											</p>

											<p
												id="productUPC-invalid"
												class="mt-2 text-sm text-red-600 dark:text-red-500"
											>
												<span class="font-medium"
													>Oops!</span
												> ¡El UPC ya existe!
											</p>
										</div>
										<div class="col-span-12 sm:col-span-4">
											<label
												for="productEAN"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>EAN</label
											>
											<input
												type="text"
												name="productEAN"
												id="productEAN"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="EAN del Producto"
											/>
										</div>
										<div
											class="col-span-12 sm:col-span-2 flex items-center"
										>
											<label
												class="inline-flex items-center mb-2 cursor-pointer"
											>
												<input
													id="productActive"
													type="checkbox"
													value=""
													class="sr-only peer"
												/>
												<div
													class="relative
                                                    w-11
                                                    h-6
                                                    bg-red-500 peer peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-300 peer-checked:after:translate-x-full peer-checked:after:border-white peer-checked:bg-green-600 rounded-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:peer-focus:ring-gray-800 dark:bg-red-700 dark:border-gray-600"
												>
												</div>
												<span
													class="ms-3 text-sm font-medium text-gray-400 dark:text-gray-500"
												>
													Activo
												</span>
											</label>
										</div>
										<div class="col-span-12 sm:col-span-6">
											<label
												for="productTags"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Etiquetas</label
											>
											<input
												type="text"
												name="productTags"
												id="productTags"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="Etiquetas del Producto"
											/>
										</div>
										<div class="col-span-12 sm:col-span-6">
											<label
												for="productURL"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>URL tienda</label
											>
											<input
												type="text"
												name="productURL"
												id="productURL"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="Enlace del Producto"
											/>
										</div>
										<div class="col-span-6 sm:col-span-2">
											<button
												id="btnAddProduct"
												class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md"
												type="submit">Guardar</button
											>
										</div>
									</div>
								</div>

								<!-- Product Variants -->
								<div
									class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-700"
									id="productVariants"
									role="tabpanel"
									aria-labelledby="productVariants-tab"
								>
									<div class="grid grid-cols-12 gap-4">
										<div class="col-span-12 sm:col-span-6">
											<label
												for="productTags"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Etiquetas</label
											>
											<input
												type="text"
												name="productTags"
												id="productTags"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="Etiquetas del Producto"
											/>
										</div>
										<div class="col-span-12">
											<span
												class="block mb-2 text-sm font-medium text-gray-800 dark:text-gray-50"
												>Product Images</span
											>
											<div
												class="grid sm:grid-cols-3 gap-4 mb-4 md:grid-cols-4"
											>
												<div
													class="relative p-2 bg-gray-50 dark:bg-gray-800 rounded-md w-36 h-36 dark:text-gray-50"
												>
													<img
														src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-side-image.png"
														alt="iMac Side Image"
													/>
													<button
														type="button"
														class="absolute bottom-1 left-1 text-red-500 dark:text-red-600 hover:text-red-500 dark:hover:text-red-400"
													>
														<svg
															aria-hidden="true"
															class="h-5 w-5"
															fill="currentColor"
															viewBox="0 0 20 20"
															xmlns="http://www.w3.org/2000/svg"
														>
															<path
																fill-rule="evenodd"
																d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
																clip-rule="evenodd"
															></path>
														</svg>
														<span class="sr-only"
															>Delete image</span
														>
													</button>
												</div>
												<div
													class="relative p-2 bg-gray-50 dark:bg-gray-800 rounded-md w-36 h-36 dark:text-gray-50"
												>
													<img
														src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-front-image.png"
														alt="iMac Front Image"
													/>
													<button
														type="button"
														class="absolute bottom-1 left-1 text-red-500 dark:text-red-600 hover:text-red-500 dark:hover:text-red-400"
													>
														<svg
															aria-hidden="true"
															class="h-5 w-5"
															fill="currentColor"
															viewBox="0 0 20 20"
															xmlns="http://www.w3.org/2000/svg"
														>
															<path
																fill-rule="evenodd"
																d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
																clip-rule="evenodd"
															></path>
														</svg>
														<span class="sr-only"
															>Delete image</span
														>
													</button>
												</div>
												<div
													class="relative p-2 bg-gray-50 rounded-md w-36 h-36 dark:text-gray-50"
												>
													<img
														src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-back-image.png"
														alt="iMac Back Image"
													/>
													<button
														type="button"
														class="absolute bottom-1 left-1 text-red-500 dark:text-red-600 hover:text-red-500 dark:hover:text-red-400"
													>
														<svg
															aria-hidden="true"
															class="h-5 w-5"
															fill="currentColor"
															viewBox="0 0 20 20"
															xmlns="http://www.w3.org/2000/svg"
														>
															<path
																fill-rule="evenodd"
																d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
																clip-rule="evenodd"
															></path>
														</svg>
														<span class="sr-only"
															>Delete image</span
														>
													</button>
												</div>
												<div
													class="relative p-2 bg-gray-50 rounded-md w-36 h-36 dark:text-gray-50"
												>
													<img
														src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-back-image.png"
														alt="iMac Back Image"
													/>
													<button
														type="button"
														class="absolute bottom-1 left-1 text-red-500 dark:text-red-600 hover:text-red-500 dark:hover:text-red-400"
													>
														<svg
															aria-hidden="true"
															class="h-5 w-5"
															fill="currentColor"
															viewBox="0 0 20 20"
															xmlns="http://www.w3.org/2000/svg"
														>
															<path
																fill-rule="evenodd"
																d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
																clip-rule="evenodd"
															></path>
														</svg>
														<span class="sr-only"
															>Delete image</span
														>
													</button>
												</div>
											</div>
											<div
												class="flex justify-center items-center w-full"
											>
												<label
													for="dropzone-file"
													class="flex flex-col justify-center items-center w-full h-60 rounded-md border-2 border-dashed cursor-pointer bg-gray-100 border-gray-200 hover:border-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:hover:bg-gray-700"
												>
													<div
														class="flex flex-col justify-center items-center pt-5 pb-6"
													>
														<svg
															aria-hidden="true"
															class="mb-3 w-10 h-10 dark:text-gray-400"
															fill="none"
															stroke="currentColor"
															viewBox="0 0 24 24"
															xmlns="http://www.w3.org/2000/svg"
														>
															<path
																stroke-linecap="round"
																stroke-linejoin="round"
																stroke-width="2"
																d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
															>
															</path>
														</svg>
														<p
															class="mb-2 text-sm text-gray-50 dark:text-gray-400"
															style="color:rgb(156 163 175)"
														>
															<span
																class="font-semibold"
																>Click to upload</span
															> or drag and drop
														</p>
														<p
															class="text-xs text-gray-50 dark:text-gray-400"
														>
															SVG, PNG, JPG or GIF
															(MAX. 800x400px)
														</p>
													</div>
													<input
														id="dropzone-file"
														type="file"
														class="hidden"
													/>
												</label>
											</div>
										</div>
										<div class="col-span-6 sm:col-span-2">
											<button
												id="btnAddVariantsProduct"
												class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md"
												type="submit">Guardar</button
											>
										</div>
									</div>
								</div>

								<!-- Product Tags -->
								<div
									class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
									id="productDesc"
									role="tabpanel"
									aria-labelledby="productDesc-tab"
								>
									<h1 class="text-center text-2xl">
										Seleccione un Nombre Común
									</h1>
								</div>
								<!-- Taxonomy & Prices -->
								<div
									class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
									id="productPrices"
									role="tabpanel"
									aria-labelledby="productPrices-tab"
								>
									<div class="grid grid-cols-12 gap-4">
										<div class="col-span-6 sm:col-span-12">
											<label
												for="productTaxonomy"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Taxonomia Google</label
											>
											<select
												id="productTaxonomy"
												name="productTaxonomy"
												class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
											>
												<option value="0" selected=""
													>-- Seleccionar Taxonomia --</option
												>
											</select>
										</div>
										<div class="col-span-6 sm:col-span-3">
											<label
												for="phone-number"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Cantidad</label
											>
											<input
												type="number"
												name="phone-number"
												id="phone-number"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="e.g. +(12)3456 789"
												required=""
											/>
										</div>
										<div class="col-span-6 sm:col-span-3">
											<label
												for="department"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Sucursal</label
											>
											<input
												type="text"
												name="department"
												id="department"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="Development"
												required=""
											/>
										</div>
									</div>
								</div>
								<!-- Stock -->
								<div
									class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
									id="productStock"
									role="tabpanel"
									aria-labelledby="productStock-tab"
								>
									<div class="grid grid-cols-12 gap-4">
										<div class="col-span-6 sm:col-span-3">
											<label
												for="phone-number"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Medida</label
											>
											<input
												type="number"
												name="phone-number"
												id="phone-number"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="e.g. +(12)3456 789"
												required=""
											/>
										</div>
										<div class="col-span-6 sm:col-span-3">
											<label
												for="department"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Unidades</label
											>
											<input
												type="text"
												name="department"
												id="department"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="Development"
												required=""
											/>
										</div>
									</div>
								</div>
								<!-- Logistics -->
								<div
									class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
									id="productLogistics"
									role="tabpanel"
									aria-labelledby="productLogistics-tab"
								>
									<div class="grid grid-cols-12 gap-4">
										<div class="col-span-6 sm:col-span-3">
											<label
												for="phone-number"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Phone Number</label
											>
											<input
												type="number"
												name="phone-number"
												id="phone-number"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="e.g. +(12)3456 789"
												required=""
											/>
										</div>
										<div class="col-span-6 sm:col-span-3">
											<label
												for="department"
												class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
												>Department</label
											>
											<input
												type="text"
												name="department"
												id="department"
												class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
												placeholder="Development"
												required=""
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div>
				<button
					type="submit"
					class="inline-flex justify-center rounded-md border border-transparent bg-secondary-400 py-2 px-4 text-sm font-medium text-gray-100 shadow-sm hover:bg-secondary-500 focus:outline-none focus:ring-2 focus:ring-secondary-500 focus:ring-offset-2"
				>
					Crear Marca
				</button>
			</div>
		</form>
	</div>
</BaseLayout>
